@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	background-image: url("file://Macintosh HD/Users/Phansiri/Code/essential-html-css/img/background.jpg");
	background-size: cover;
	background-attachment: fixed;
}

a, a:visited, a:link {
	text-decoration: none;
	color: #0000AA;
}
a:hover {
	color: #0000EE;
}

h1, h2, h3 {
	font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2, h3 {
	color: #505050;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}

main {
	margin-left: 30%;
	margin-right: 20px;
}

.contact_info {
	background-image: url("file://Macintosh HD/Users/Phansiri/Code/essential-html-css/img/ricepaper_v3.png");
	opacity: 0.9;
}

